name: build-test

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies from library
      working-directory: ./Pandemonium
      run: dotnet restore
    - name: Build library
      working-directory: ./Pandemonium
      run: dotnet build --no-restore
    - name: Restore dependencies from test project
      working-directory: ./Pandemonium.Test
      run: dotnet restore
    - name: Test
      working-directory: ./Pandemonium.Test
      run: dotnet test
